* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #fff;
  font-weight: 300;
}

body {
  background-color: black;
}

/* UTILITY */

.pos-rel {
  position: relative;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*  HEADER*/

header {
  height: 10vh;
  text-align: center;
  background-color: #201c1c;
  border-bottom: 1px solid #333;
}

h1 {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 500;
  font-size: 1.75rem;
}

/* containers */

#contTimeandB {
  margin: auto;
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.crono-cont {
  height: 35vh;
  width: 100%;
}

.btnAndlapsZone {
  width: 90vw;
  height: 55vh;
}

/* numeri del cronometro vero e poprio */

#timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13vw;
}

/* posizione dei bottoni 
 (i wrappper servono a creare 
 il doppiobordo ai pulsanti) */

.btnWrapper {
  position: absolute;
  top: 0;
  height: 100px;
  width: 100px;
  background-color: #1c1c1e;
  border-radius: 50%;
}
.btnWrapper.first {
  left: 0;
}
.btnWrapper.second {
  right: 0;
  background-color: #0a2a12;
}

/* bottoni */

button {
  font-size: 0.9rem;
  height: 96px;
  width: 96px;
  border-radius: 50%;
  background-color: #141414;
  color: #98989f;
  display: inline-block;
  border: 2px solid #000;
}

button:focus {
  outline: none;
}

#startStop {
  color: #30d158;
  background-color: #0a2a12;
}

/* zona dei lap */

#lapZone {
  width: 50%;
  height: 55vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: scroll;
}

.sub-title-cont {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid #98989f49;
}
.sub-title-cont > span {
  font-size: 1.3rem;
}

.SingolLapCont {
  position: relative;
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #98989f49;
}

/* prima si crea il nodo lap poi si verfica la linghezza
della collection che ha classe node, quindi nel dom
numero di lap sarà annotato dopo il lap stesso, quindi
servere un flex row-reverse per vederlo alla sua sx */

.SingolLapCont > span {
  font-weight: 400;
  font-size: 1.3rem;
}

.Nlap {
}

.giroElem {
}

/* MEDIA QUERIES */

/* @media (min-width: 501px) and (max-width: 768px) {
  #BtnCont {
    margin-top: 12px;
    width: 50vw;
  }
  button {
    padding: 3px 8px;
    font-size: 5.3vw;
  }
  button:nth-child(2) {
    margin: 0 1vw;
  }
}

@media (max-width: 500px) {
  #BtnCont {
    margin-top: 12px;
    width: 250px;
  }
  button {
    padding: 3px 8px;
  }
  button:nth-child(2) {
    margin: 0 2vw;
  }
} */
